
<form ng-submit="saveChanges( product )">
<div class="container">
  <div class="row">
    <div class="col-sm-6">

      <div class="form-group">
        <label>Nazwa produktu</label>
        <input type="text" class="form-control" ng-model="product.name" >
      </div>

      <div class="form-group">
        <label>Kraj pochodzenia</label>
        <input type="text" class="form-control" ng-model="product.country">
      </div>

      <div class="form-group">
        <label>Cena</label>
        <input type="text" class="form-control" ng-model="product.price" >
      </div>
    </div>

    <div class="col-sm-6">
      <h2>{{ product.name }}</h2>
      <p>Kraj pochodzenia: {{ product.country }}</p>
      <h4><span class="badge badge-warning"> {{ product.price | number:2 }} zł </span></h4>
    </div>
  

  </div>

    <div class="row">
      <div class="col-sm-12">
        <hr>
    <button type="submit" class="btn btn-outline-primary">Zapisz zmiany</button>
    <a href="#!/products" role="button" class="btn btn-outline-secondary">Wróć bez zmian</a>
    <p>&nbsp;</p>
      </div>
    </div>
  
</div>
</form>
