
<form>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <input type="text" class="form-control" ng-model="product.name" >
      <br><br>
    </div>

    <div class="col-sm-12">
      <h2>{{ product.name }}</h2>
      <p>Kraj pochodzenia: {{ product.country }}</p>
      <h4><span class="label label-default"> {{ product.price | number:2 }} zł </span></h4>
    </div>

  </div>

    <div class="row">
      <div class="col-sm-12">
        <hr>
    <button type="submit" class="btn btn-primary">Zapisz zmiany</button>
    <br><br>
      </div>
    </div>
  
</div>
</form>
